.no-cookie-consent-overlay {
  align-items: center;
  background-image: url('https://static.animalequality.org/image/blurred_1200x675.jpg');
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  > div {
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 90%;
    max-height: 330px;
    max-width: 600px;
    overflow-y: auto;
    padding: 1rem;
    text-align: center;
    width: 90%;

    form {
      margin-top: 1rem;
    }

    * {
      color: #fff;

      &:last-child {
        margin-bottom: auto;
      }

      &:first-child {
        margin-top: auto !important;
      }
    }

    button {
      margin-top: 1rem;
      padding: .5rem;
    }
  }
}

.cookie-consent-manager {
  background-color: rgba(0, 0, 0, .6);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;

  &__inner {
    background-color: #fefefe;
    bottom:0;
    height: auto;
    left: 0;
    max-height: 66%;
    overflow: auto;
    padding: 1rem;
    position: fixed;
    right: 0;
    z-index: 101;

    .cookie-consent-manager__headline {
      font-weight: 700;
    }

    .cookie-consent-manager__description {
      margin: 0;
    }

    .cookie-consent-manager__settings {
      display: none;

      table {
        margin: 1rem 0;
        max-width: 1000px;

        tr {
          border: 0;

          td {
            padding: .5rem;
            vertical-align: top;

            input {
              margin: 0;
            }

            label {
              color: inherit !important;
              cursor: pointer;

              &.name {
                font-weight: bold;
              }
            }
          }
        }

        @media (max-width: 575px) {
          width: 100%;
        }
      }
    }

    .cookie-consent-manager__buttons {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
      margin-top: 1rem;

      @media (max-width: 575px) {
        button {
          width: 100%;
        }
      }
    }

    .cookie-consent-manager__imprint {
      margin-top: 1rem;
    }
  }

  &.is-personalizing {
    .cookie-consent-manager__settings {
      display: block;
    }
  }
}

.wp-block-embed.wp-has-aspect-ratio .no-cookie-consent-overlay,
.no-cookie-consent-overlay-container,
.no-cookie-consent-overlay.no-cookie-consent-overlay--absolute {
  left: 0;
  position: absolute;
  top: 0;
}
